{% extends 'homepage/base.html' %}
{% block title %}Вход{% endblock %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<div class="profile">
<br>
    <br>
<main class="form-signin">


        <form method="post"  class="container">
            <h2>Авторизация</h2>
            {% csrf_token %}

            {{ form|crispy }}
            {% if not profile.last_name.objects %}
            <button class="btn btn-sm btn-primary" type="submit"><a class=" text-white" href="{% url 'profile_update' %}"></a>Войти </button>
            {% else %}
                <button type="button" class="btn btn-secondary btn-sm"><a class=" text-white" href="{% url 'home' %}"></a>Войти</button>
            {% endif %}
            <a type="button" class="btn btn-secondary btn-sm" class=" text-white" href="{% url 'home' %}">

        Назад </a><br>
        <br>
            <a href="{% url 'register' %}">Зарегистрироваться</a>
        </form>

    <br>


</main>
</div>
{% endblock %}