{% extends 'homepage/base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="profile">
        <br>
        <br>
        <div class="container-sm" style="max-width: 30%">
            <h1>Сброс пароля</h1>
            <p>Введите свой адрес электронной почты ниже, и мы вышлем инструкции по установке нового.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-info" value="Отправить инструкцию">
            </form>
        </div>
    </div>
{% endblock %}