{% extends 'homepage/base.html' %}
{% block title %}Отзывы{% endblock %}

{% block content %}

<main>
    <div class="profile">
        <div class="features">
            {% if user.is_authenticated %}
                <h1>Форма по добавлению отзыва </h1>
                <form method="post">
                    {% csrf_token %}

                    <br>
                    {{ form.comment }}
                    <br>
                    {{ form.data }}
                    <br>
                    <br>
                    <span> {{ error }}</span>
                    <button class="btn btn-success" type="submit"> Сохранить</button>
                    <button type="button" class="btn btn-secondary btn-sm"><a href="javascript:history.go(-1)"
                                                                              class="text-white">Отмена</a></button>

                </form>
            {% else %}
                <br>
                <br>
                <br>
                <span> Оставлять отзывы могут только авторизованные пользователи</span>
                <a href="{% url 'login' %}">Войти / </a><a href="{% url 'home' %}">На главную</a>
            {% endif %}
            <br>
            <br>
        </div>
</main>

{% endblock %}