<!DOCTYPE html>

{% load static %}
<head>
    <title> {% block title %}{% endblock %}</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">О нас</h4>
                    <p class="text-muted">Наша инновация заключается в таком простом решении — доктора приходят на прием
                        только если есть записанные пациенты. Именно поэтому мы можем предложить низкую стоимость
                        консультаций и докторам нет необходимости заполнять приемы друг другу.

                        Кроме того, мы не ставим врачам план по загрузке оборудования и лаборатории. Поэтому доктор
                        назначает только те обследования, которые необходимы в Вашем конкретном случае.

                        Врачи без лишних назначений - для нас это не просто красивый слоган, это принцип работы всех
                        наших сотрудников.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Контакты</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">тел. 8-900-000-00-00</a></li>
                        <li><a href="#" class="text-white">Адрес: г.Ростов-на-Дону, площадь Гагарина</a></li>
                        <li><a href="#" class="text-white">Режим работы: пн-пт 08:30–16:00,
                            перерыв 13:00–13:30; сб 08:30–14:00</a></li>
                        <br>
                        <br>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">

                <strong>Компания</strong>
            </a><strong>

            {% if user.is_authenticated %}

                <a href="{% url 'profile' user.username %}" class="text-white">  <img
                        src="//cdn.onlinewebfonts.com/svg/img_391819.png" class="text-white"
                        width="24" height="24">{{ user.username }} </a> /
            {% else %}
                <a href="{% url 'login' %}">Войти /</a><a href="{% url 'register' %}"> Регистрация</a>
            {% endif %}


            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                    aria-label="Переключение навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
        </strong>
        </div>
    </div>

</header>

<body id="bg" style="background-image: url('{% static "Specialities.jpeg" %}')" ;>
{% block content %}{% endblock %}
</body>
<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Наверх</a>
        </p>

    </div>
</footer>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<style>

</style>

</body>
</html>