{% extends 'homepage/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<br>
<br>
<main class="container">
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-white">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">
                <ya-tr-span data-index="4-0" data-value="Title of a longer featured blog post"
                            data-translation="Название более длинного избранного сообщения в блоге" data-type="trSpan"
                            data-selected="false">Название более длинного избранного сообщения в блоге
                </ya-tr-span>
            </h1>
            <p class="lead my-3">
                <ya-tr-span data-index="5-0"
                            data-value="Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents."
                            data-translation="Несколько строк текста, которые формируют lede, быстро и эффективно информируют новых читателей о том, что наиболее интересно в содержании этого поста."
                            data-type="trSpan">Несколько строк текста, которые формируют lede, быстро и эффективно
                    информируют новых читателей о том, что наиболее интересно в содержании этого поста.
                </ya-tr-span>
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">
                <ya-tr-span data-index="6-0" data-value="Continue reading..." data-translation="Продолжить чтение..."
                            data-type="trSpan">Продолжить чтение...
                </ya-tr-span>
            </a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">
                        <ya-tr-span data-index="7-0" data-value="World" data-translation="Мир" data-type="trSpan">Мир
                        </ya-tr-span>
                    </strong>
                    <h3 class="mb-0">
                        <ya-tr-span data-index="8-0" data-value="Featured post" data-translation="Избранный пост"
                                    data-type="trSpan">Избранный пост
                        </ya-tr-span>
                    </h3>
                    <div class="mb-1 text-muted">
                        <ya-tr-span data-index="9-0" data-value="Nov 12" data-translation="12 ноября"
                                    data-type="trSpan">12 ноября
                        </ya-tr-span>
                    </div>
                    <p class="card-text mb-auto">
                        <ya-tr-span data-index="10-0"
                                    data-value="This is a wider card with supporting text below as a natural lead-in to additional content."
                                    data-translation="Это более широкая карта с поддерживающим текстом ниже в качестве естественного входа к дополнительному контенту."
                                    data-type="trSpan">Это более широкая карта с поддерживающим текстом ниже в качестве
                            естественного входа к дополнительному контенту.
                        </ya-tr-span>
                    </p>
                    <a href="#" class="stretched-link">
                        <ya-tr-span data-index="11-0" data-value="Continue reading" data-translation="Читать далее"
                                    data-type="trSpan">Читать далее
                        </ya-tr-span>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">
                        <ya-tr-span data-index="12-0" data-value="Design" data-translation="Дизайн" data-type="trSpan">
                            Дизайн
                        </ya-tr-span>
                    </strong>
                    <h3 class="mb-0">
                        <ya-tr-span data-index="13-0" data-value="Post title" data-translation="Название должности"
                                    data-type="trSpan">Название должности
                        </ya-tr-span>
                    </h3>
                    <div class="mb-1 text-muted">
                        <ya-tr-span data-index="14-0" data-value="Nov 11" data-translation="11 ноября"
                                    data-type="trSpan">11 ноября
                        </ya-tr-span>
                    </div>
                    <p class="mb-auto">
                        <ya-tr-span data-index="15-0"
                                    data-value="This is a wider card with supporting text below as a natural lead-in to additional content."
                                    data-translation="Это более широкая карта с поддерживающим текстом ниже в качестве естественного входа к дополнительному контенту."
                                    data-type="trSpan">Это более широкая карта с поддерживающим текстом ниже в качестве
                            естественного входа к дополнительному контенту.
                        </ya-tr-span>
                    </p>
                    <a href="#" class="stretched-link">
                        <ya-tr-span data-index="16-0" data-value="Continue reading" data-translation="Читать далее"
                                    data-type="trSpan">Читать далее
                        </ya-tr-span>
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Заполнитель: Миниатюра" preserveAspectRatio="xMidYMid slice"
                         focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                <ya-tr-span data-index="17-0" data-value="
 From the Firehose
 " data-translation="
 Из пожарного шланга
 " data-type="trSpan">
                    Из пожарного шланга
                </ya-tr-span>
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">
                    <ya-tr-span data-index="19-0" data-value="Sample blog post" data-translation="Пример записи в блоге"
                                data-type="trSpan">Пример записи в блоге
                    </ya-tr-span>
                </h2>
                <p class="blog-post-meta">
                    <ya-tr-span data-index="20-0" data-value="January 1, 2014 by "
                                data-translation="1 января 2014 года от " data-type="trSpan">1 января 2014 года от
                    </ya-tr-span>
                    <a href="#">
                        <ya-tr-span data-index="20-0" data-value="Mark" data-translation="Марка" data-type="trSpan">
                            Марка
                        </ya-tr-span>
                    </a></p>

                <p>
                    <ya-tr-span data-index="21-0"
                                data-value="This blog post shows a few different types of content that’s supported and styled with Bootstrap. "
                                data-translation="Этот пост в блоге показывает несколько различных типов контента, который поддерживается и стилизуется с помощью Bootstrap. "
                                data-type="trSpan">Этот пост в блоге показывает несколько различных типов контента,
                        который поддерживается и стилизуется с помощью Bootstrap.
                    </ya-tr-span>
                    <ya-tr-span data-index="21-1" data-value="Basic typography, images, and code are all supported."
                                data-translation="Базовая типография, изображения и код поддерживаются."
                                data-type="trSpan">Базовая типография, изображения и код поддерживаются.
                    </ya-tr-span>
                </p>
                <hr>
                <p>
                    <ya-tr-span data-index="23-0" data-value="Yeah, she dances to her own beat. "
                                data-translation="Да, она танцует под свой собственный ритм. " data-type="trSpan">Да,
                        она танцует под свой собственный ритм.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-1" data-value="Oh, no. " data-translation="- О, нет. "
                                data-type="trSpan">- О, нет.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-2" data-value="You could've been the greatest. "
                                data-translation="Ты мог бы стать величайшим. " data-type="trSpan">Ты мог бы стать
                        величайшим.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-3" data-value="'Cause, baby, " data-translation="Потому что, детка, "
                                data-type="trSpan">Потому что, детка,
                    </ya-tr-span>
                    <a href="#">
                        <ya-tr-span data-index="23-3" data-value="you're a firework"
                                    data-translation="ты просто фейерверк" data-type="trSpan">ты просто фейерверк
                        </ya-tr-span>
                    </a>
                    <ya-tr-span data-index="23-3" data-value=". " data-translation=". " data-type="trSpan">.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-4" data-value="Maybe a reason why all the doors are closed. "
                                data-translation="Может быть, причина в том, что все двери закрыты. "
                                data-type="trSpan">Может быть, причина в том, что все двери закрыты.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-5" data-value="Open up your heart and just let it begin. "
                                data-translation="Открой свое сердце и просто позволь ему начаться. "
                                data-type="trSpan">Открой свое сердце и просто позволь ему начаться.
                    </ya-tr-span>
                    <ya-tr-span data-index="23-6" data-value="So très chic, yeah, she's a classic."
                                data-translation="Так что très chic, да, она классика." data-type="trSpan">Так что très
                        chic, да, она классика.
                    </ya-tr-span>
                </p>
                <blockquote>
                    <p>
                        <ya-tr-span data-index="24-0" data-value="Bikinis, zucchinis, Martinis, no weenies. "
                                    data-translation="Бикини, кабачки, Мартини, никаких сосисок. " data-type="trSpan">
                            Бикини, кабачки, Мартини, никаких сосисок.
                        </ya-tr-span>
                        <ya-tr-span data-index="24-1" data-value="I know there will be sacrifice but that's the price. "
                                    data-translation="Я знаю, что будут жертвы, но это цена. " data-type="trSpan">Я
                            знаю, что будут жертвы, но это цена.
                        </ya-tr-span>
                        <strong>
                            <ya-tr-span data-index="24-2" data-value="This is how we do it"
                                        data-translation="Вот как мы это делаем" data-type="trSpan">Вот как мы это
                                делаем
                            </ya-tr-span>
                        </strong>
                        <ya-tr-span data-index="24-2" data-value=". " data-translation=". " data-type="trSpan">.
                        </ya-tr-span>
                        <ya-tr-span data-index="24-3" data-value="I'm not sticking around to watch you go down. "
                                    data-translation="Я не собираюсь торчать здесь и смотреть, как ты падаешь. "
                                    data-type="trSpan">Я не собираюсь торчать здесь и смотреть, как ты падаешь.
                        </ya-tr-span>
                        <ya-tr-span data-index="24-4"
                                    data-value="You think you're so rock and roll, but you're really just a joke. "
                                    data-translation="Вы думаете, что вы такой рок-н-ролл, но на самом деле вы просто шутка. "
                                    data-type="trSpan">Вы думаете, что вы такой рок-н-ролл, но на самом деле вы просто
                            шутка.
                        </ya-tr-span>
                        <ya-tr-span data-index="24-5" data-value="I know one spark will shock the world, yeah yeah. "
                                    data-translation="Я знаю, что одна искра потрясет весь мир, да, да. "
                                    data-type="trSpan">Я знаю, что одна искра потрясет весь мир, да, да.
                        </ya-tr-span>
                        <ya-tr-span data-index="24-6" data-value="Can't replace you with a million rings."
                                    data-translation="Я не могу заменить тебя миллионом колец." data-type="trSpan">Я не
                            могу заменить тебя миллионом колец.
                        </ya-tr-span>
                    </p>
                </blockquote>
                <p>
                    <ya-tr-span data-index="25-0"
                                data-value="Trying to connect the dots, don't know what to tell my boss. "
                                data-translation="Пытаясь связать все воедино, я не знаю, что сказать своему боссу. "
                                data-type="trSpan">Пытаясь связать все воедино, я не знаю, что сказать своему боссу.
                    </ya-tr-span>
                    <ya-tr-span data-index="25-1"
                                data-value="Before you met me I was alright but things were kinda heavy. "
                                data-translation="До того, как ты встретил меня, я был в порядке, но все было довольно тяжело. "
                                data-type="trSpan" data-selected="false">До того, как ты встретил меня, я был в порядке,
                        но все было довольно тяжело.
                    </ya-tr-span>
                    <ya-tr-span data-index="25-2" data-value="You just gotta ignite the light and let it shine. "
                                data-translation="Ты просто должен зажечь свет и позволить ему сиять. "
                                data-type="trSpan">Ты просто должен зажечь свет и позволить ему сиять.
                    </ya-tr-span>
                    <ya-tr-span data-index="25-3" data-value="Glitter all over the room "
                                data-translation="Блестят по всей комнате " data-type="trSpan">Блестят по всей комнате
                    </ya-tr-span>
                    <em>
                        <ya-tr-span data-index="25-3" data-value="pink flamingos" data-translation="розовые фламинго"
                                    data-type="trSpan">розовые фламинго
                        </ya-tr-span>
                    </em>
                    <ya-tr-span data-index="25-3" data-value=" in the pool. " data-translation=" в бассейне. "
                                data-type="trSpan"> в бассейне.
                    </ya-tr-span>
                </p>
                <h2>
                    <ya-tr-span data-index="33-0" data-value="Heading" data-translation="Заголовок" data-type="trSpan">
                        Заголовок
                    </ya-tr-span>
                </h2>
                <p>
                    <ya-tr-span data-index="34-0" data-value="Suiting up for my crowning battle. "
                                data-translation="Готовлюсь к своей коронной битве. " data-type="trSpan">Готовлюсь к
                        своей коронной битве.
                    </ya-tr-span>
                    <ya-tr-span data-index="34-1" data-value="If you only knew what the future holds. "
                                data-translation="Если бы вы только знали, что ждет нас в будущем. " data-type="trSpan">
                        Если бы вы только знали, что ждет нас в будущем.
                    </ya-tr-span>
                    <ya-tr-span data-index="34-2" data-value="Bring the beat back. "
                                data-translation="Верните ритм обратно. " data-type="trSpan">Верните ритм обратно.
                    </ya-tr-span>
                    <ya-tr-span data-index="34-3" data-value="Peach-pink lips, yeah, everybody stares."
                                data-translation="Персиково-розовые губы, да, все пялятся." data-type="trSpan">
                        Персиково-розовые губы, да, все пялятся.
                    </ya-tr-span>
                </p>
                <h3>
                    <ya-tr-span data-index="35-0" data-value="Sub-heading" data-translation="Подзаголовок"
                                data-type="trSpan">Подзаголовок
                    </ya-tr-span>
                </h3>
                <p>
                    <ya-tr-span data-index="42-0"
                                data-value="You give a hundred reasons why, and you say you're really gonna try. "
                                data-translation="Ты приводишь сотни причин и говоришь, что действительно попытаешься. "
                                data-type="trSpan">Ты приводишь сотни причин и говоришь, что действительно попытаешься.
                    </ya-tr-span>
                    <ya-tr-span data-index="42-1" data-value="Straight stuntin' yeah we do it like that. "
                                data-translation="Прям сногсшибательные да мы так и делаем. " data-type="trSpan">Прям
                        сногсшибательные да мы так и делаем.
                    </ya-tr-span>
                    <ya-tr-span data-index="42-2" data-value="Calling out my name. "
                                data-translation="Выкрикивая мое имя. " data-type="trSpan">Выкрикивая мое имя.
                    </ya-tr-span>
                    <ya-tr-span data-index="42-3" data-value="‘Cause I, I’m capable of anything."
                                data-translation="Потому что я, я способен на все." data-type="trSpan">Потому что я, я
                        способен на все.
                    </ya-tr-span>
                </p>
                <pre><code>Example code block</code></pre>
                <p>
                    <ya-tr-span data-index="43-0"
                                data-value="Before you met me I was alright but things were kinda heavy. "
                                data-translation="До того, как ты встретил меня, я был в порядке, но все было довольно тяжело. "
                                data-type="trSpan">До того, как ты встретил меня, я был в порядке, но все было довольно
                        тяжело.
                    </ya-tr-span>
                    <ya-tr-span data-index="43-1" data-value="You just gotta ignite the light and let it shine."
                                data-translation="Ты просто должен зажечь свет и позволить ему сиять."
                                data-type="trSpan">Ты просто должен зажечь свет и позволить ему сиять.
                    </ya-tr-span>
                </p>
                <h3>
                    <ya-tr-span data-index="44-0" data-value="Sub-heading" data-translation="Подзаголовок"
                                data-type="trSpan">Подзаголовок
                    </ya-tr-span>
                </h3>
                <p>
                    <ya-tr-span data-index="49-0" data-value="You got the finest architecture. "
                                data-translation="У вас прекрасная архитектура. " data-type="trSpan">У вас прекрасная
                        архитектура.
                    </ya-tr-span>
                    <ya-tr-span data-index="49-1" data-value="Passport stamps, she's cosmopolitan. "
                                data-translation="Штампы в паспорте, она космополит. " data-type="trSpan">Штампы в
                        паспорте, она космополит.
                    </ya-tr-span>
                    <ya-tr-span data-index="49-2" data-value="Fine, fresh, fierce, we got it on lock. "
                                data-translation="Прекрасный, свежий, свирепый, мы держим его под замком. "
                                data-type="trSpan">Прекрасный, свежий, свирепый, мы держим его под замком.
                    </ya-tr-span>
                    <ya-tr-span data-index="49-3" data-value="Never planned that one day I'd be losing you. "
                                data-translation="Никогда не думала, что однажды потеряю тебя. " data-type="trSpan">
                        Никогда не думала, что однажды потеряю тебя.
                    </ya-tr-span>
                    <ya-tr-span data-index="49-4" data-value="She eats your heart out."
                                data-translation="Она съедает твое сердце." data-type="trSpan">Она съедает твое сердце.
                    </ya-tr-span>
                </p>
                <ul>
                    <li>
                        <ya-tr-span data-index="50-0" data-value="Got a motel and built a fort out of sheets."
                                    data-translation="Снял мотель и построил форт из простыней." data-type="trSpan">Снял
                            мотель и построил форт из простыней.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="51-0" data-value="Your kiss is cosmic, every move is magic."
                                    data-translation="Твой поцелуй-космический, каждое движение - волшебное."
                                    data-type="trSpan">Твой поцелуй-космический, каждое движение - волшебное.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="52-0" data-value="Suiting up for my crowning battle."
                                    data-translation="Готовлюсь к своей коронной битве." data-type="trSpan">Готовлюсь к
                            своей коронной битве.
                        </ya-tr-span>
                    </li>
                </ul>
                <p>
                    <ya-tr-span data-index="53-0"
                                data-value="Takes you miles high, so high, 'cause she’s got that one international smile."
                                data-translation="Поднимает тебя на много миль выше, так высоко, потому что у нее есть эта единственная международная улыбка."
                                data-type="trSpan">Поднимает тебя на много миль выше, так высоко, потому что у нее есть
                        эта единственная международная улыбка.
                    </ya-tr-span>
                </p>
                <ol>
                    <li>
                        <ya-tr-span data-index="54-0" data-value="Scared to rock the boat and make a mess."
                                    data-translation="Боялся раскачать лодку и устроить беспорядок." data-type="trSpan">
                            Боялся раскачать лодку и устроить беспорядок.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="55-0" data-value="I could have rewrite your addiction."
                                    data-translation="Я мог бы переписать твою зависимость." data-type="trSpan">Я мог бы
                            переписать твою зависимость.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="56-0" data-value="I know you get me so I let my walls come down."
                                    data-translation="Я знаю, что ты меня понимаешь, поэтому я позволил своим стенам рухнуть."
                                    data-type="trSpan">Я знаю, что ты меня понимаешь, поэтому я позволил своим стенам
                            рухнуть.
                        </ya-tr-span>
                    </li>
                </ol>
                <p>
                    <ya-tr-span data-index="57-0" data-value="After a hurricane comes a rainbow."
                                data-translation="После урагана приходит радуга." data-type="trSpan">После урагана
                        приходит радуга.
                    </ya-tr-span>
                </p>
            </article><!-- /.blog-post -->

            <article class="blog-post">
                <h2 class="blog-post-title">
                    <ya-tr-span data-index="58-0" data-value="Another blog post"
                                data-translation="Еще один пост в блоге" data-type="trSpan">Еще один пост в блоге
                    </ya-tr-span>
                </h2>
                <p class="blog-post-meta">
                    <ya-tr-span data-index="59-0" data-value="December 23, 2013 by "
                                data-translation="23 декабря 2013 года " data-type="trSpan">23 декабря 2013 года
                    </ya-tr-span>
                    <a href="#">
                        <ya-tr-span data-index="59-0" data-value="Jacob" data-translation="Автор: Джейкоб"
                                    data-type="trSpan">Автор: Джейкоб
                        </ya-tr-span>
                    </a></p>

                <p>
                    <ya-tr-span data-index="60-0" data-value="I am ready for the road less traveled. "
                                data-translation="Я готов к менее пройденной дороге. " data-type="trSpan">Я готов к
                        менее пройденной дороге.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-1" data-value="Already " data-translation="Уже " data-type="trSpan">Уже
                    </ya-tr-span>
                    <a href="#">
                        <ya-tr-span data-index="60-1" data-value="brushing off the dust"
                                    data-translation="отряхиваюсь от пыли" data-type="trSpan">отряхиваюсь от пыли
                        </ya-tr-span>
                    </a>
                    <ya-tr-span data-index="60-1" data-value=". " data-translation=". " data-type="trSpan">.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-2" data-value="Yeah, you're lucky if you're on her plane. "
                                data-translation="Да, тебе повезло, если ты летишь на ее самолете. " data-type="trSpan">
                        Да, тебе повезло, если ты летишь на ее самолете.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-3" data-value="I used to bite my tongue and hold my breath. "
                                data-translation="Я обычно прикусывал язык и задерживал дыхание. " data-type="trSpan">Я
                        обычно прикусывал язык и задерживал дыхание.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-4" data-value="Uh, She’s a beast. "
                                data-translation="Ну, она просто зверь. " data-type="trSpan">Ну, она просто зверь.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-5" data-value="I call her Karma (come back). "
                                data-translation="Я называю ее кармой (вернись). " data-type="trSpan">Я называю ее
                        кармой (вернись).
                    </ya-tr-span>
                    <ya-tr-span data-index="60-6" data-value="Black ray-bans, you know she's with the band. "
                                data-translation="Блэк Рэй-Бэнс, ты же знаешь, что она с группой. " data-type="trSpan">
                        Блэк Рэй-Бэнс, ты же знаешь, что она с группой.
                    </ya-tr-span>
                    <ya-tr-span data-index="60-7"
                                data-value="I can't sleep let's run away and don't ever look back, don't ever look back."
                                data-translation="Я не могу спать давай убежим и никогда не оглядывайся назад, никогда не оглядывайся назад."
                                data-type="trSpan">Я не могу спать давай убежим и никогда не оглядывайся назад, никогда
                        не оглядывайся назад.
                    </ya-tr-span>
                </p>
                <blockquote>
                    <p>
                        <ya-tr-span data-index="61-0" data-value="Growing fast into a "
                                    data-translation="Быстро превращаясь в " data-type="trSpan">Быстро превращаясь в
                        </ya-tr-span>
                        <strong>
                            <ya-tr-span data-index="61-0" data-value="bolt of lightning" data-translation="молнию"
                                        data-type="trSpan">молнию
                            </ya-tr-span>
                        </strong>
                        <ya-tr-span data-index="61-0" data-value=". " data-translation=". " data-type="trSpan">.
                        </ya-tr-span>
                        <ya-tr-span data-index="61-1" data-value="Be careful Try not to lead her on"
                                    data-translation="Будь осторожен и не веди ее дальше" data-type="trSpan">Будь
                            осторожен и не веди ее дальше
                        </ya-tr-span>
                    </p>
                </blockquote>
                <p>
                    <ya-tr-span data-index="62-0" data-value="I'm intrigued, for a peek, heard it's fascinating. "
                                data-translation="Я заинтригован, на первый взгляд, слышал, что это увлекательно. "
                                data-type="trSpan">Я заинтригован, на первый взгляд, слышал, что это увлекательно.
                    </ya-tr-span>
                    <ya-tr-span data-index="62-1" data-value="Oh oh! " data-translation="О-о-о! " data-type="trSpan">
                        О-о-о!
                    </ya-tr-span>
                    <ya-tr-span data-index="62-2" data-value="Wanna be a victim ready for abduction. "
                                data-translation="Хочу быть жертвой, готовой к похищению. " data-type="trSpan">Хочу быть
                        жертвой, готовой к похищению.
                    </ya-tr-span>
                    <ya-tr-span data-index="62-3"
                                data-value="She's got that international smile, oh yeah, she's got that one international smile. "
                                data-translation="У нее есть эта международная улыбка, О да, у нее есть одна международная улыбка. "
                                data-type="trSpan">У нее есть эта международная улыбка, О да, у нее есть одна
                        международная улыбка.
                    </ya-tr-span>
                    <ya-tr-span data-index="62-4" data-value="Do you ever feel, feel so paper thin. "
                                data-translation="Ты когда-нибудь чувствовала себя такой тонкой, как бумага? "
                                data-type="trSpan">Ты когда-нибудь чувствовала себя такой тонкой, как бумага?
                    </ya-tr-span>
                    <ya-tr-span data-index="62-5" data-value="I’m gon’ put her in a coma. "
                                data-translation="Я собираюсь ввести ее в кому. " data-type="trSpan">Я собираюсь ввести
                        ее в кому.
                    </ya-tr-span>
                    <ya-tr-span data-index="62-6" data-value="Sun-kissed skin so hot we'll melt your popsicle."
                                data-translation="Загорелая кожа, такая горячая, что мы растопим твое эскимо."
                                data-type="trSpan">Загорелая кожа, такая горячая, что мы растопим твое эскимо.
                    </ya-tr-span>
                </p>
                <p>
                    <ya-tr-span data-index="63-0"
                                data-value="This is transcendental, on another level, boy, you're my lucky star."
                                data-translation="Это трансцендентально, на другом уровне, мальчик, ты моя счастливая звезда."
                                data-type="trSpan">Это трансцендентально, на другом уровне, мальчик, ты моя счастливая
                        звезда.
                    </ya-tr-span>
                </p>
            </article><!-- /.blog-post -->

            <article class="blog-post">
                <h2 class="blog-post-title">
                    <ya-tr-span data-index="64-0" data-value="New feature" data-translation="Новая функция"
                                data-type="trSpan">Новая функция
                    </ya-tr-span>
                </h2>
                <p class="blog-post-meta">
                    <ya-tr-span data-index="65-0" data-value="December 14, 2013 by "
                                data-translation="14 декабря 2013 года " data-type="trSpan">14 декабря 2013 года
                    </ya-tr-span>
                    <a href="#">
                        <ya-tr-span data-index="65-0" data-value="Chris" data-translation="автор: Крис"
                                    data-type="trSpan">автор: Крис
                        </ya-tr-span>
                    </a></p>

                <p>
                    <ya-tr-span data-index="66-0" data-value="From Tokyo to Mexico, to Rio. "
                                data-translation="Из Токио в Мексику, в Рио. " data-type="trSpan">Из Токио в Мексику, в
                        Рио.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-1" data-value="Yeah, you take me to utopia. "
                                data-translation="Да, ты отвезешь меня в утопию. " data-type="trSpan">Да, ты отвезешь
                        меня в утопию.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-2" data-value="I'm walking on air. "
                                data-translation="Я иду по воздуху. " data-type="trSpan">Я иду по воздуху.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-3" data-value="We'd make out in your Mustang to Radiohead. "
                                data-translation="Мы бы целовались в твоем &quot;Мустанге&quot; с Radiohead. "
                                data-type="trSpan">Мы бы целовались в твоем "Мустанге" с Radiohead.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-4" data-value="I mean the ones, I mean like she's the one. "
                                data-translation="Я имею в виду те, я имею в виду, как будто она одна. "
                                data-type="trSpan">Я имею в виду те, я имею в виду, как будто она одна.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-5" data-value="Sun-kissed skin so hot we'll melt your popsicle. "
                                data-translation="Загорелая кожа, такая горячая, что мы растопим твое эскимо. "
                                data-type="trSpan">Загорелая кожа, такая горячая, что мы растопим твое эскимо.
                    </ya-tr-span>
                    <ya-tr-span data-index="66-6"
                                data-value="Slow cooking pancakes for my boy, still up, still fresh as a Daisy."
                                data-translation="Медленное приготовление блинов для моего мальчика, все еще бодрого, все еще свежего, как маргаритка."
                                data-type="trSpan">Медленное приготовление блинов для моего мальчика, все еще бодрого,
                        все еще свежего, как маргаритка.
                    </ya-tr-span>
                </p>
                <ul>
                    <li>
                        <ya-tr-span data-index="67-0" data-value="I hope you got a healthy appetite."
                                    data-translation="Надеюсь, у тебя здоровый аппетит." data-type="trSpan">Надеюсь, у
                            тебя здоровый аппетит.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="68-0" data-value="You're never gonna be unsatisfied."
                                    data-translation="Ты никогда не будешь неудовлетворен." data-type="trSpan">Ты
                            никогда не будешь неудовлетворен.
                        </ya-tr-span>
                    </li>
                    <li>
                        <ya-tr-span data-index="69-0" data-value="Got a motel and built a fort out of sheets."
                                    data-translation="Снял мотель и построил форт из простыней." data-type="trSpan">Снял
                            мотель и построил форт из простыней.
                        </ya-tr-span>
                    </li>
                </ul>
                <p>
                    <ya-tr-span data-index="70-0" data-value="Don't need apologies. "
                                data-translation="Мне не нужны извинения. " data-type="trSpan">Мне не нужны извинения.
                    </ya-tr-span>
                    <ya-tr-span data-index="70-1" data-value="Boy, you're an alien your touch so foreign, it's "
                                data-translation="Мальчик, ты инопланетянин, твои прикосновения настолько чужды, что кажутся "
                                data-type="trSpan">Мальчик, ты инопланетянин, твои прикосновения настолько чужды, что
                        кажутся
                    </ya-tr-span>
                    <em>
                        <ya-tr-span data-index="70-1" data-value="supernatural" data-translation="сверхъестественными"
                                    data-type="trSpan">сверхъестественными
                        </ya-tr-span>
                    </em>
                    <ya-tr-span data-index="70-1" data-value=", extraterrestrial. " data-translation=", внеземными. "
                                data-type="trSpan">, внеземными.
                    </ya-tr-span>
                    <ya-tr-span data-index="70-2" data-value="Talk about our future like we had a clue. "
                                data-translation="Говорите о нашем будущем так, будто у нас есть ключ. "
                                data-type="trSpan">Говорите о нашем будущем так, будто у нас есть ключ.
                    </ya-tr-span>
                    <ya-tr-span data-index="70-3" data-value="I can feel a phoenix inside of me."
                                data-translation="Я чувствую внутри себя Феникса." data-type="trSpan">Я чувствую внутри
                        себя Феникса.
                    </ya-tr-span>
                </p>
            </article><!-- /.blog-post -->

            <nav class="blog-pagination" aria-label="Пагинация">
                <a class="btn btn-outline-primary" href="#">
                    <ya-tr-span data-index="71-0" data-value="Older" data-translation="Старше" data-type="trSpan">
                        Старше
                    </ya-tr-span>
                </a>
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">
                    <ya-tr-span data-index="71-0" data-value="Newer" data-translation="Новее" data-type="trSpan">Новее
                    </ya-tr-span>
                </a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">
                    <ya-tr-span data-index="18-0" data-value="About" data-translation="О нас" data-type="trSpan">О нас
                    </ya-tr-span>
                </h4>
                <p class="mb-0">
                    <ya-tr-span data-index="22-0" data-value="Saw you downtown singing the Blues. "
                                data-translation="Видел, как ты в центре города поешь Блюз. " data-type="trSpan">Видел,
                        как ты в центре города поешь Блюз.
                    </ya-tr-span>
                    <ya-tr-span data-index="22-1" data-value="Watch you circle the drain. "
                                data-translation="Смотри, Как ты кружишь по канализации. " data-type="trSpan">Смотри,
                        Как ты кружишь по канализации.
                    </ya-tr-span>
                    <ya-tr-span data-index="22-2" data-value="Why don't you let me stop by? "
                                data-translation="Почему бы тебе не позволить мне зайти? " data-type="trSpan">Почему бы
                        тебе не позволить мне зайти?
                    </ya-tr-span>
                    <ya-tr-span data-index="22-3" data-value="Heavy is the head that "
                                data-translation="Тяжела та голова, которая " data-type="trSpan">Тяжела та голова,
                        которая
                    </ya-tr-span>
                    <em>
                        <ya-tr-span data-index="22-3" data-value="wears the crown" data-translation="носит корону"
                                    data-type="trSpan">носит корону
                        </ya-tr-span>
                    </em>
                    <ya-tr-span data-index="22-3" data-value=". " data-translation=". " data-type="trSpan">.
                    </ya-tr-span>
                    <ya-tr-span data-index="22-4"
                                data-value="Yes, we make angels cry, raining down on earth from up above."
                                data-translation="Да, мы заставляем ангелов плакать, проливаясь дождем на Землю сверху."
                                data-type="trSpan">Да, мы заставляем ангелов плакать, проливаясь дождем на Землю сверху.
                    </ya-tr-span>
                </p>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">
                    <ya-tr-span data-index="26-0" data-value="Archives" data-translation="Архивы" data-type="trSpan">
                        Архивы
                    </ya-tr-span>
                </h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">
                        <ya-tr-span data-index="27-0" data-value="March 2014" data-translation="Март 2014 года"
                                    data-type="trSpan">Март 2014 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="28-0" data-value="February 2014" data-translation="Февраль 2014 года"
                                    data-type="trSpan">Февраль 2014 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="29-0" data-value="January 2014" data-translation="Январь 2014 года"
                                    data-type="trSpan">Январь 2014 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="30-0" data-value="December 2013" data-translation="Декабрь 2013 года"
                                    data-type="trSpan">Декабрь 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="31-0" data-value="November 2013" data-translation="Ноябрь 2013 года"
                                    data-type="trSpan">Ноябрь 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="32-0" data-value="October 2013" data-translation="Октябрь 2013 года"
                                    data-type="trSpan">Октябрь 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="36-0" data-value="September 2013" data-translation="Сентябрь 2013 года"
                                    data-type="trSpan">Сентябрь 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="37-0" data-value="August 2013" data-translation="Август 2013 года"
                                    data-type="trSpan">Август 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="38-0" data-value="July 2013" data-translation="Июль 2013 года"
                                    data-type="trSpan">Июль 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="39-0" data-value="June 2013" data-translation="Июнь 2013 года"
                                    data-type="trSpan">Июнь 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="40-0" data-value="May 2013" data-translation="Май 2013 года"
                                    data-type="trSpan">Май 2013 года
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="41-0" data-value="April 2013" data-translation="Апрель 2013 года"
                                    data-type="trSpan">Апрель 2013 года
                        </ya-tr-span>
                    </a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">
                    <ya-tr-span data-index="45-0" data-value="Elsewhere" data-translation="В другом месте"
                                data-type="trSpan">В другом месте
                    </ya-tr-span>
                </h4>
                <ol class="list-unstyled">
                    <li><a href="#">
                        <ya-tr-span data-index="46-0" data-value="GitHub" data-translation="GitHub" data-type="trSpan">
                            GitHub
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="47-0" data-value="Twitter" data-translation="Twitter"
                                    data-type="trSpan">Twitter
                        </ya-tr-span>
                    </a></li>
                    <li><a href="#">
                        <ya-tr-span data-index="48-0" data-value="Facebook" data-translation="Facebook"
                                    data-type="trSpan">Facebook
                        </ya-tr-span>
                    </a></li>
                </ol>
            </div>
        </div>

    </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
    <p>
        <ya-tr-span data-index="72-0" data-value="Blog template built for "
                    data-translation="Шаблон блога, созданный для " data-type="trSpan">Шаблон блога, созданный для
        </ya-tr-span>
        <a href="https://getbootstrap.com/">
            <ya-tr-span data-index="72-0" data-value="Bootstrap" data-translation="Bootstrap" data-type="trSpan">
                Bootstrap
            </ya-tr-span>
        </a>
        <ya-tr-span data-index="72-0" data-value=" by " data-translation=" by " data-type="trSpan"> by</ya-tr-span>
        <a href="https://twitter.com/mdo">
            <ya-tr-span data-index="72-0" data-value="@mdo" data-translation="@mdo" data-type="trSpan">@mdo</ya-tr-span>
        </a>
        <ya-tr-span data-index="72-0" data-value="." data-translation="." data-type="trSpan">.</ya-tr-span>
    </p>
    <p>
        <a href="#">
            <ya-tr-span data-index="73-0" data-value="Back to top" data-translation="Наверх" data-type="trSpan">Наверх
            </ya-tr-span>
        </a>
    </p>
</footer>


<div id="tr-popup" class="tr-popup" translate="no" data-hidden="true" data-invalid="true" data-disabled="false"
     lang="ru" data-expanded="false" data-menu="false"
     data-translation="До того, как ты встретил меня, я был в порядке, но все было довольно тяжело." data-position="top"
     data-menu-position="right" data-submitted="false" style="top: 1158px; left: 722px;">
    <div class="tr-popup__block"><span class="tr-popup__title_original">Оригинальный текст:</span> <span
            class="tr-popup__value">Before you met me I was alright but things were kinda heavy.</span></div>
    <div class="tr-popup__block tr-popup__block_a"><span class="tr-popup__link tr-popup__link_suggest"
                                                         data-action="expand">Предложить перевод</span><a
            href="https://translate.yandex.ru" class="tr-popup__link tr-popup__link_service" target="_blank"
            data-action="navigate"><span class="tr-popup__logo tr-popup__logo_company"></span><span
            class="tr-popup__logo tr-popup__logo_service"></span></a></div>
    <div class="tr-popup__block tr-popup__block_b"><textarea class="tr-popup__input" spellcheck="false"
                                                             autocapitalize="off" autocorrect="off" autocomplete="off"
                                                             maxlength="1000"></textarea>
        <div class="tr-popup__block tr-popup__block_submit"><span role="button"
                                                                  class="tr-popup__button tr-popup__button_submit"
                                                                  data-action="send">Отправить</span></div>
        <div class="tr-popup__overlay tr-popup__overlay_submitted">Спасибо, перевод отправлен</div>
    </div>
    <span role="button" class="tr-popup__button tr-popup__button_close" data-action="clickClose"></span><span
        role="button" class="tr-popup__button tr-popup__button_menu" data-action="clickMenu"><span
        class="tr-popup__menu" data-action="disablePopup">Отключить подсказку с оригинальным текстом</span></span><span
        class="tr-popup__arrow"></span></div>
{% endblock %}