{% extends 'homepage/base.html' %}

{% block title %}Профиль{% endblock %}
{% block content %}
<main>
    <div class="profile">
        <h4 class="mb-3">Личный кабинет</h4>

        <form method="post" class="needs-validation" novalidate="">
            {% csrf_token %}
            <div class="row g-3">

                <div class="col-sm-6">


                    <label for="firstName" class="form-label">Имя</label>

                    {{ profile_form.first_name}}

                    <div class="invalid-feedback">
                        Требуется действительное имя.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Фамилия</label>
                    {{ profile_form.last_name}}
                    <div class="invalid-feedback">
                        Требуется действительная фамилия.
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="patronymic" class="form-label">Отчество</label>
                    {{ profile_form.patronymic}}
                    <div class="invalid-feedback">
                        Требуется действительное отчество.
                    </div>
                </div>
                <div class="col-12">
                        <label for="birth_date" class="form-label">Дата рождения</label>
                          {{ profile_form.data }}
                        <div class="invalid-feedback">
                            Пожалуйста, введите свою дату рождения.
                        </div>
                    </div>


                <div class="col-12">
                    <label for="email" class="form-label">Электронная Почта
                          </label>
                    {{ profile_form.email_two}}
                    <div class="invalid-feedback">
                        Пожалуйста, введите действительный адрес электронной почты
                    </div>
                </div>

                <div class="col-12">
                    <label for="phone" class="form-label">Телефон</label>
                    {{ profile_form.phone}}
                    <div class="invalid-feedback">
                        Пожалуйста, введите свой телефон.
                    </div>
                    <div class="col-12">
                        <label for="insurance" class="form-label">СНИЛС</label>
                         {{ profile_form.insurance}}
                        <div class="invalid-feedback">
                            Пожалуйста, введите свой СНИЛС.
                        </div>
                    </div>

                </div>
                <br>
                <button class=" btn btn-primary " type="submit" ><a <a class="p-3 text-white" href="{% url 'profile' user.username %}">Сохранить</a></button>

                </button>
        </form>

        <button type="button" class="btn btn-secondary btn-sm"><a class="p-3 text-white" href="{% url 'home' %}">
            На главную </a>
    </div>
</main>
{% endblock %}
