{% extends 'homepage/base.html' %}
{% block title %}Подтверждение регистрации{% endblock %}
{% load static %}
{% block content %}


    <div class="profile">
        <br>
        <br>


        <div class="container-sm" style="max-width: 40%">

            <h2>Вам на почту отправлено письмо со ссылкой на активацию аккаунта </h2>

            {#                    <div class="btn-group" role="group" aria-label="Basic example">#}
            {#                        <button type="submit" class="btn btn-outline-success">Войти</button>#}
            {#                        <a type="button" href="" class="btn btn-outline-secondary">Назад</a>#}
            {#                    </div>#}

            {#                    <br>#}
            {#                    <a href="{% url 'signup' %}">Зарегистрироваться</a>#}


            <br>
        </div>
    </div>
{% endblock %}